@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #10002B;
}

.name-container a{
    font-size: 35px;
    color: #ffff;
    text-decoration: none;
}

.name-container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;

}

.menu{
    position: absolute;
    color: #ffff;
    left: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 200px;
}


ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    position: relative;
    display: block;
    padding: 5px;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}

.menu[data-animation="center"] a::before {
    transform-origin: center;
}
.btn-crecer {
    color: #ffff;
    border: 1.2px solid #ffff;
    border-radius: 4px;
    padding: 15px 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    margin: 30px;
}


.img-principal-container {
    width: 100vw; /* Ancho del viewport */
    overflow: hidden; /* Evita que la imagen se desborde */
    max-height: 80vh; /* Altura máxima del contenedor */
}

.img-principal {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
}

.slider-container{
    position: absolute;
    top: 70%;
    left: 20%;
    display: flex;
    background-color: #240046;
    border-radius: 10px;
    height: 300px; 
    width:50%;
    margin: 0 100px; 
    overflow: hidden;
    flex-wrap: wrap;
}


/* Estilo básico para el Slider*/
#gallery {
    position: absolute;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-right: 20px; 
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    min-width: 100%;
    box-sizing: border-box;
}

.gallery-item img {
    right: 0;
    width: 40%;
    margin: 0 auto;
}

/* Navegación del Slider */
.gallery-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95%;
    top: -50px;
}

.gallery-item {
    /* Ajustes de estilo para las imágenes */
    margin: 0 10px;
}

/* Estilos para la imagen 1 */
.sidebar-image {
    position: relative;
    left: -10%; /* Alinea la imagen con el borde derecho del contenedor del slider */
    top: 30px; /* Ajusta según sea necesario */
    max-width: 20%; /* Evita que la imagen se desborde del contenedor */
    max-height: 20%; /* Evita que la imagen se desborde del contenedor */
    width: auto; /* Ajusta el ancho de la imagen automáticamente */
    height: auto; /* Ajusta la altura de la imagen automáticamente */
    border-radius: 20px;

}

.prev{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Ahora puedes usar bottom */
    background-color: #240046;
    color: #C77DFF;
    margin: 0;
    width: 90px;
    height: 90px;
    padding: 30px; 
    right: 69.7%;
    bottom: 60px;
    border-radius: 50px;
    border:none; 
    transform: rotate(90deg); /* Rotación de -45 grados */
    cursor: pointer;
}

.next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Ahora puedes usar bottom */
    background-color: #240046;
    color: #C77DFF;
    left: 73.8%;
    bottom: 60px;
    margin: 0;
    width: 90px;
    height: 90px;
    padding: 30px; 
    border-radius: 50px; 
    border:none; 
    transform: rotate(90deg); /* Rotación de -45 grados */
    cursor: pointer;
}

.prev {
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

/* Estilos para el botón de la derecha */
.next {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}


.prev:hover,
.next:hover{
    background-color: #008CBA;
    border-color: #008CBA;
}

.container-reviews {
    /* Estilos para tu slider */
    margin-bottom: 10px; /* Ajusta según sea necesario para dejar espacio para el texto */
}

.text-container {
    width: 80%; /* Ancho del contenedor de texto */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro */
}

.gallery-container {
    display: flex;
}

h1,
p{
    color: #ffff;
}

.content-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.title-and-paragraph {
    padding: 10px;
    max-width: 60%;
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
    margin-right: 20px; /* Espacio entre el título/párrafo y la imagen */
}

/* .sidebar-image {
    margin-left: 20px; /* Espacio entre la imagen y el borde del contenedor 
} */


.title-and-paragraph i{
    color: #ffff;
}

.image-with-text {
    display: flex; /* Activar flexbox */
    align-items: center; /* Centrar verticalmente los elementos */
}

.text-container {
    margin-left: 20%; /* Espacio entre la imagen y el texto */
    max-width: 30%;
    margin-top: 10%;
}
.text-container h3,
.text-container p {
    margin: 0; /* Eliminar los márgenes predeterminados */
    padding: 10px;
}


.image-container {
    display: flex; /* Activar flexbox */
    padding: 20% 100px 50px 50px;
    justify-content: flex-end;
    padding-right: 20px; /* Espacio entre la imagen y el texto */
}

.image-container img {
    width: 150px; /* Ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio entre las imágenes */
    border-radius: 10px;
}

.image-container img:nth-child(1),
.image-container img:nth-child(3) {
    align-self: flex-start; /* Mover hacia arriba */
    margin-top: 20px; /* Ajustar según sea necesario */
}

.image-container img:nth-child(1),
.image-container img:nth-child(3) {
    margin-top: -25px; /* Ajusta según sea necesario para moverlas hacia arriba */
}
