@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #10002B;
}

.name-container a{
    font-size: 35px;
    color: #ffff;
    text-decoration: none;
}

.name-container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;

}

.menu{
    position: absolute;
    color: #ffff;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 200px;
    /* gap: auto; */
}


ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 70px;
}

.menu a {
    position: relative;
    display: block;
    padding: 5px;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}

.menu[data-animation="center"] a::before {
    transform-origin: center;
}
.btn-crecer {
    color: #ffff;
    border: 1.2px solid #ffff;
    border-radius: 4px;
    padding: 15px 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    margin: 30px;
}

.css-1:hover { 
    transform: scale(1.1);
}


